@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}

body {
    font-family: 'Pretendard';
    font-size: 16px;
    line-height: 36px;
    font-weight: 500;
    color: #bca4ff;
}

/*pc*/
/*header*/
header {
    width: 100%;
    height: 82px;
    position: relative;
}

.util {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(0, -50%);
    display: flex;
}

.util li:nth-child(2) {
    padding-left: 27px;
}

.header_inner {
    max-width: 1262px;
    height: 82px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_inner ul {
    display: flex;
}

.header_inner ul li:nth-child(2n+1) {
    padding-right: 84px;
}

/*햄버거 버튼모양*/
.slide-open {
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 99;
}

.burgur {
    right: 30px;
    top: 40px;
    position: fixed;
    width: 20px;
    height: 2px;
    background: #bca4ff;
}

.burgur .top-line {
    width: 20px;
    height: 2px;
    background-color: #bca4ff;
    bottom: -5px;
    content: '';
    position: absolute;
    right: 0;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;

}

.burgur .bot-line {
    width: 20px;
    height: 2px;
    background-color: #bca4ff;
    top: -5px;
    content: '';
    position: absolute;
    right: 0;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.burgur.on {
    width: 0;
}

.burgur.on .bot-line {
    -webkit-transform: translateY(5px) rotate(135deg);
    transform: translateY(5px) rotate(135deg);
}

.burgur.on .top-line {
    -webkit-transform: translateY(-5px) rotate(-135deg);
    transform: translateY(-5px) rotate(-135deg);
}

/*메뉴부분 모양*/
.slide {
    padding-top: 50px;
    width: 30%;
    /*이 너비에 따라 보이는 부분이 변화함*/
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    -webkit-transition: right .3s;
    -moz-transition: right .3s;
    -ms-transition: right .3s;
    -o-transition: right .3s;
    transition: right .3s;
    background-color: #fff;
    z-index: 5;
}

.slide-title {
    width: 100%;
    height: 100px;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #bca4ff;
}

.slide.on {
    right: 0;
}

.slide ul li {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #bca4ff;
}

.slide-open {
    display: none;
}

/*brand*/
.main_banner {
    width: 100%;
    height: 877px;
    background: url(../images/main_bg.jpg) center top;
    text-align: center;
    align-content: end;
    color: #fff;
    box-sizing: border-box;
    animation: zoom 2s;
}

#main_banner {
    overflow: hidden;
}

@keyframes zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

.main_banner h1 {
    font-size: 50px;
    padding-bottom: 70px;
}

.main_banner p {
    padding-bottom: 230px;
}

.down_btn {
    padding-bottom: 65px;
}

.eng_font {
    font-family: 'Silvania';
}

.eng_font .other {
    font-family: 'Rosie Brown Serif Demo';
}

.flow_text {
    overflow: hidden;
    width: 100%;
    line-height: 1.0;
    padding: 210px 0;
}

.slide_text {
    display: flex;
    justify-content: space-around;
    width: 1600px;
}

.text_wrapper {
    display: flex;
    width: 3200px;
    font-size: 36px;
    animation: text_animation 15s linear infinite reverse;
}

@keyframes text_animation {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

#brand>video {
    width: 96%;
    margin: 0 2%;
    border-radius: 10px;
    overflow: hidden;
}

.flex_text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 160px 0;
}

.flex_text h1 {
    font-size: 60px;
    padding-right: 250px;
}

.flex_text p {
    color: #1d1d1d;
}

/*ingredients*/
#ingredients {
    background: #f1ecff;
    padding: 112px 0 154px 0;
    text-align: center;
}

#ingredients h1 {
    font-size: 48px;
    color: #594c7f;
    line-height: 1.3;
    padding-bottom: 108px;
}

#ingredients h1 span {
    color: #bca4ff;
}

.flex_ingredients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
}

.flex_ingredients li>img {
    width: 100%;
}

.flex_ingredients li {
    width: 30%;
    margin: 1%;
}

.flex_ingredients li h2 {
    font-size: 36px;
    color: #9b83dd;
    display: flex;
    align-items: center;
}

.flex_ingredients li:nth-child(3) img {
    animation: btn 2s linear infinite;
}

@keyframes btn {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

/*best*/
#best h1 {
    font-size: 60px;
    padding: 70px 0 60px 90px;
}

.best_product img {
    width: 100%;
}

.best_product {
    width: 95%;
    margin: 0 2.5%;
    position: relative;
    font-family: 'Hahmlet';
    font-size: 22px;
    color: #594c7f;
}

.best_product h2:nth-child(2) {
    position: absolute;
    top: 38%;
    left: 22%;
    text-shadow: 0 0 10px #fff;
}

.best_product h2:nth-child(3) {
    position: absolute;
    bottom: 38%;
    right: 18%;
    text-shadow: 0 0 10px #fff;
}

/*product*/
#product {
    color: #1d1d1d;
    padding: 70px 0 190px 0;
}

.flex_product {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex_product li {
    width: 31%;
    margin: 0 0.5%;
    overflow: hidden;
}

.flex_product li img {
    width: 100%;
    transition: all 0.5s;
}

.flex_product li:hover img {
    transform: scale(1.1, 1.1);
}

.flex_product li {
    position: relative;
}

.product_text {
    position: absolute;
    bottom: 4%;
    left: 5%;
}

.product_text h3 {
    padding-bottom: 20px;
}

/*footer*/
footer {
    width: 100%;
    padding: 0 60px 50px;
    box-sizing: border-box;
}

.footer_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid #bca4ff;
    padding-bottom: 33px;
    margin-bottom: 57px;
}

.sns {
    display: flex;
}

.sns li {
    padding-left: 30px;
}

@media (max-width:1600px) {
    .util {
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translate(0, -50%);
    }

    .header_inner {
        justify-content: center;
        align-items: center;
    }

    .header_inner ul {
        display: none;
    }

    .slide-open {
        display: block;
    }
}

/*태블릿*/
@media (min-width:600px) and (max-width:1199px) {
    .util {
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translate(0, -50%);
    }

    .header_inner {
        justify-content: center;
        align-items: center;
    }

    .header_inner ul {
        display: none;
    }

    .slide-open {
        display: block;
    }

    .flex_text h1 {
        padding-right: 30px;
    }

    .flex_ingredients li {
        width: 46%;
        margin: 1%;
    }

    .flex_ingredients li:nth-child(3) {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .flex_ingredients li:nth-child(4) {
        display: none;
    }

    .best_product h2:nth-child(2) {
        font-size: 24px;
    }

    .best_product h2:nth-child(3) {
        font-size: 24px;
    }

    #product {
        padding: 30px 0 190px 0;
    }

    .flex_product li {
        width: 47%;
        margin: 1%;
    }

    .flex_product {
        justify-content: flex-start;
    }
}

@media (max-width:762px) {
    .flex_text {
        text-align: center;
    }

    .flex_text h1 {
        width: 100%;
        padding-right: 0;
        padding-bottom: 30px;
    }

    .flex_text p {
        width: 100%;
    }
}

/*모바일*/
@media (max-width:599px) {
    .util {
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translate(0, -50%);
    }

    .header_inner {
        justify-content: center;
        align-items: center;
    }

    .header_inner ul {
        display: none;
    }

    .slide-open {
        display: block;
    }


    .flex_text {
        text-align: center;
    }

    .flex_text h1 {
        width: 100%;
        padding-right: 0;
        padding-bottom: 30px;
    }

    .flex_text p {
        width: 100%;
    }

    #ingredients h1 {
        font-size: 36px;
    }

    .flex_ingredients li {
        width: 96%;
        margin: 1% 2%;
    }

    .best_product h2:nth-child(2) {
        font-size: 18px;
    }

    .best_product h2:nth-child(3) {
        font-size: 18px;
    }

    #product {
        padding: 30px 0 90px 0;
    }

    .flex_product li {
        width: 96%;
        margin: 1% 2%;
    }

    .footer_info {
        margin-bottom: 33px;
        flex-direction: column-reverse;
    }

    .footer_info ul {
        width: 100%;
    }

    .sns li:nth-child(1) {
        padding-left: 0;
    }

    .sns {
        padding-bottom: 20px;
    }
}